:root{
    --color-blue: #839eaf;
    --color-green: #c8c8a9;
    --color-brown: #774f38;
    --color-beige: #ffffff;
    --color-pink: #fe4365;
}

.penguin {
    --penguin-skin: #5f5f5f;
    --penguin-belly: white;
    --penguin-beak: orange;

    position: relative;
    margin: auto;
    display: block;
    width: 300px;
    height: 300px;
    z-index: 999;
}

.penguin_top {
    top: 10%;
    left: 25%;
    background: var(--penguin-skin, gray);
    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
}

.penguin_bottom {
    top: 40%;
    left: 23.5%;
    background: var(--penguin-skin, gray);
    width: 53%;
    height: 45%;
    border-radius: 70% 70% 100% 100%;
}

.right_hand {
    top: 11%;
    left: 16%;
    background: var(--penguin-skin, gray);
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 120% 30%;
    transform: rotate(130deg);
    z-index: -1;
    animation-duration: 3s;
    animation-name: wave;
    animation-iteration-count: infinite;
    transform-origin: 0% 0%;
    animation-timing-function: linear;
}

.left_hand {
    top: 0%;
    left: 75%;
    background: var(--penguin-skin, gray);
    width: 30%;
    height: 60%;
    border-radius: 30% 30% 30% 120%;
    transform: rotate(-45deg);
    z-index: -1;
}

.right_cheek {
    top: 15%;
    left: 35%;
    background: var(--penguin-belly, white);
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
}

.left_cheek {
    top: 15%;
    left: 5%;
    background: var(--penguin-belly, white);
    width: 60%;
    height: 70%;
    border-radius: 70% 70% 60% 60%;
}

.belly {
    top: 60%;
    left: 2.5%;
    background: var(--penguin-belly, white);
    width: 95%;
    height: 100%;
    border-radius: 120% 120% 100% 100%;
}

.right_feet {
    top: 85%;
    left: 60%;
    background: var(--penguin-beak, orange);
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(-80deg);
    z-index: -2222;
}

.left_feet {
    top: 85%;
    left: 25%;
    background: var(--penguin-beak, orange);
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(80deg);
    z-index: -2222;
}

.right_eye {
    top: 45%;
    left: 60%;
    background: black;
    width: 15%;
    height: 17%;
    border-radius: 50%;
}

.left_eye {
    top: 45%;
    left: 25%;
    width: 15%;
    height: 17%;
    background: black;
    border-radius: 50%;
}

.sparkle {
    top: 25%;
    left: 15%;
    background: white;
    width: 35%;
    height: 35%;
    border-radius: 50%;
}

.blush_right {
    top: 65%;
    left: 15%;
    background: pink;
    width: 15%;
    height: 10%;
    border-radius: 50%;
}

.blush_left {
    top: 65%;
    left: 70%;
    background: pink;
    width: 15%;
    height: 10%;
    border-radius: 50%;
}

.beak_top {
    top: 60%;
    left: 40%;
    background: var(--penguin-beak, orange);
    width: 20%;
    height: 10%;
    border-radius: 50%;
}

.beak_bottom {
    top: 65%;
    left: 42%;
    width: 16%;
    height: 10%;
    border-radius: 50%;
}

.penguin * {
    position: absolute;
}

@keyframes wave {
    10% {
        transform: rotate(110deg);
    }
    20% {
        transform: rotate(130deg);
    }
    30% {
        transform: rotate(110deg);
    }
    40% {
        transform: rotate(130deg);
    }
}

.container {
    margin: auto;
    width: 100%;
    align-items: center;
    padding: 3em;
    height: 560px;
    box-sizing: border-box;
    max-width: 660px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(129deg, #23221f 0%, #2e3234 100%);
    border-radius: 45px;
}


.container p {
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 15px;
    color: var(--color-brown);
    background-color: var(--color-beige);
    padding: 50px;
    border-radius: 11px;
    position: relative;
    box-shadow: 20px 20px var(--color-blue);
    font-family: "Baloo 2", "Poppins", sans-serif;
}

.container p:after {
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    content: ".";
    font-weight: bold;
    -webkit-text-fill-color: var(--color-beige);
    text-shadow: 22px 22px var(--color-blue);
    text-align: left;
    font-size: 55px;
    width: 55px;
    height: 11px;
    line-height: 30px;
    border-radius: 11px;
    background-color: var(--color-beige);
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px var(--color-blue);
    z-index: -2;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
    }
    55% {
        transform: translatey(-20px);
    }
    60% {
        line-height: 10px;
    }
    100% {
        line-height: 30px;
        transform: translatey(0px);
    }
}

@media only screen and (max-width: 835px) {
    .container {
        height: auto;
        min-height: 90%;
        max-height: 100%;
        padding: 0.2em;
        margin: auto 1em;
    }

    .container p {
        margin-top: 3em;
    }
}
