* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(90deg, #23221f 0%, #2e3234 100%);
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

main {
  height: calc(100vh - 2rem);
  display: flex;
}

a {
  display: flex;
  width: fit-content;
  margin: 0.5rem;
  text-decoration: none;
}
